@import url("./rest.scss");
.layout {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
}
.leftMenu {
    flex: 0 1 200px;
    border-right: 1px solid black;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 8px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .com-container {
        flex: 1 0 130px;
        margin-bottom: 12px;
        position: relative;
        .com-content {
            width: 100%;
            height: 110px;
            margin-bottom: 8px;
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            line-height: 110px;
            box-sizing: border-box;
            border: 1px solid #666;
        }
        .com-title {
            width: 100%;
            font-size: 12px;
            text-align: center;
            color: #666;
        }
    }
}
.container {
    display: flex;
    flex: 1;
    overflow: auto;
    background: #f7f7f7;
    justify-content: center;
    align-items: center;
}
.main-content {
    box-shadow: -2px 2px 8px rgba(0,0,0,.15);
    width: 375px;
    min-height: 630px;
    background: #fff;
}
.operation-menu-container {
    position: relative;
    width: 400px;
    height: 400px;
    box-sizing: border-box;
    margin-left: 20px;
    overflow-y: auto;
    box-shadow: -2px 2px 8px rgba(0,0,0,.15);
    background: #fff;
    padding: 10px 12px;
}